<%- contentFor('content') %>
<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Status</h6>
    <div style="margin-top:20px">
        <% if (data) { %>
        <strong>Successful Posted</strong>
        <% }else{ %>
        <%- JSON.stringify(error)%>
        <% } %>
        <hr>
        <a href="/" class="btn btn-primary">
            Dashboard </a>
    </div>
</div>