<footer class="text-center">
   <div class="row">
      <div class="col-12 col-md">
         <small class="d-block mb-3 text-muted">Crafted by <a href="https://luqman.web.id"
               class="text-decoration-none">Luqman
               Dev.</a></small>
      </div>
   </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/offcanvas.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>